.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 0px;
}
.catalog-search {
	display: flex;
	justify-content: center;
	margin: 60px 0px 100px;
}
.catalog-search__wrapper {
	width: 50%;
	position: relative;
}
.catalog-search__wrapper input {
	width: 100%;
	padding: 10px 0px;
	background: none;
	border: 0px;
	border-bottom: 1px solid gray;
	outline: 0;
	font-size: 18px;
	color: white;
}
::-webkit-input-placeholder {
	color: gray;
	font-style: italic;
}
.border-focus {
	position: absolute;
	bottom: 0px;
	width: 0px;
	border-bottom: 1px solid red;
	transition: 1s;
}
.catalog-search__wrapper input:focus + .border-focus {
	width: 100%;
}